<header class="bg-stone-50 h-24 flex items-center justify-center">
  <%= link_to root_path, class: "no-underline" do %>
    <h4 class="font-press text-xl md:text-2xl text-emerald-800 tracking-wide">
      ToDoodle Pixel Quest
    </h4>
  <% end %>
</header>
